body {
  position: relative;
  padding-top: 42px;
  background-color: #fff;
  background-image: url(../img/bg_pink.png);
  background-repeat: repeat;
  background-position: 0 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 5px;
  }
}

.thumbnail img {
  width: 290px;
}

.twbutton {
  display: block;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
}

.photo-date {
  text-align: right;

  @media (max-width: 767px) {
    .thumbnail img {
      width: 100%;
    }
  }
  margin-bottom: 5px;
}

.thumbnail .caption {
  width: 272px;
  overflow: hidden;
}

.mapcanvas {
  z-index: 1000;
  width: 272px;
  height: 272px;
  position: absolute;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 3px 3px #888;
  -moz-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
}

@media (max-width: 767px) {
  .thumbnail img {
    width: 100%;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .thumbnail img {
    width: 220px;
  }
  .thumbnail .caption {
    width: 202px;
  }
  .mapcanvas {
    width: 202px;
    height: 202px;
  }
}

@media (min-width: 1200px) {
  .thumbnail img {
    width: 360px;
  }
  .thumbnail .caption {
    width: 342px;
  }
  .mapcanvas {
    width: 342px;
    height: 342px;
  }
}

#infscr-loading {
  height: auto;
  z-index: 1100;
  margin: 0px;
  padding: 5px 15px 5px 10px;
  position: fixed;
  top: 41px;
  left: 40%;
  text-align: center;
  background: white;
  opacity: 0.8;
  color: black;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (max-width: 979px) {
  #infscr-loading {
    top: 0px;
  }
}

#infscr-loading img {
  width: 200px;
}
