body {
  position: relative;
  padding-top: 70px;
  background-color: #fff;
  background-image: url(../img/bg_pink.png);
  background-repeat: repeat;
  background-position: 0 40px;
}

@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}

img {
  width: 290px;
}

.twbutton {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
}

.photo-date {
  text-align: right;
  margin-bottom: 5px;
}

.thumbnail .caption {
  width: 272px;
  overflow: hidden;
}

.mapcanvas {
  z-index: 1000;
  width: 272px;
  height: 272px;
}

@media (max-width: 979px) and (min-width: 768px) {
  img {
    width: 220px;
  }
  .thumbnail .caption {
    width: 202px;
  }
  .mapcanvas {
    width: 202px;
    height: 202px;
  }
}

@media (min-width: 1200px) {
  img {
    width: 360px;
  }
  .thumbnail .caption {
    width: 342px;
  }
  .mapcanvas {
    width: 342px;
    height: 342px;
  }
}

.footer {
  margin-top: 45px;
  padding: 20px 0 20px;
  border-top: 1px solid #E5E5E5;
  color: #555;
}

#infscr-loading {
  height: auto;
  z-index: 1100;
  margin: 0px;
  padding: 5px 15px 5px 10px;
  position: fixed;
  top: 40px;
  left: 40%;
  text-align: center;
  background: white;
  opacity: 0.8;
  color: black;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (max-width: 980px) {
  #infscr-loading {
    top: 0px;
  }
}

#infscr-loading img {
  width: 200px;
}
