<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SAKURA PHOTOS</title>
<link href="{{ STATIC_URL }}img/sakura_logo.ico" rel="shortcut icon">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/docs.css" rel="stylesheet">
<script src="http://platform.twitter.com/anywhere.js?id=1g01e2qhtEMFHk1ZTG9gQ&v=1" type="text/javascript"></script>
<script type="text/javascript">

  twttr.anywhere(function (T) {
    T.hovercards();
  });

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21857766-3']);
  _gaq.push(['_setDomainName', 'playshiritori.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        SAKURA #桜2012 PHOTOS
      </a>
      <span class="pull-right twbutton">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="keiko713" data-count="none" data-hashtags="桜2012">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      <span class="pull-right twbutton">
<a href="https://twitter.com/intent/tweet?button_hashtag=%E6%A1%9C2012" class="twitter-hashtag-button">Tweet #%E6%A1%9C2012</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
    </div>
  </div>
</div><!-- /navbar -->
<div class="container">
<ul class="thumbnails" id="id_thumbnails">
{% for photo in photos %}
  <li class="span4 box">
    <div class="thumbnail">
    <a href="{{ photo.url }}">
      <img src="{{ photo.imgsrc }}">
    </a>
    <div class="caption">
    <p class="photo-date">
      <small><span class="datetime" alt="{{ photo.date }}"></span> by {{ photo.username }}</small>
    </p>
    {% autoescape off %}
    <p>{{ photo.text }}</p>
    {% endautoescape %}
    {% if photo.geo %}
    <p>
      <a href="#" onclick="return viewmap('mapcanvas1_{{ forloop.counter }}', {{ photo.geo.coordinates.0 }}, {{ photo.geo.coordinates.1 }});"><i class="icon-screenshot"></i> from {{ photo.geo.addr }}</a>
    </p>
    <div class="mapcanvas" id="mapcanvas1_{{ forloop.counter }}" style="display: none;">
    </div>
    {% endif %}
    </div>
    </div>
  </li>
{% endfor %}
</ul>
<div id="page-nav">
<a href="/page/2/"></a>
</div>
<footer class="footer">
  <p class="pull-right">Created by @keiko713 / <a href="https://github.com/keiko713/sakura">Fork me on GitHub</a></p>
</footer>
</div><!-- /container -->
<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
function viewmap(id, lat, lng) {
  var mapDiv = document.getElementById(id);
  if (mapDiv.style.display == "block") {
    mapDiv.style.display = "none";
    return false;
  }
  mapDiv.style.display = "block";
  var latlng = new google.maps.LatLng(lat, lng);
  var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
  };
  map = new google.maps.Map(mapDiv, myOptions);
  var marker = new google.maps.Marker({
    position: latlng,
    map: map,
  });

  return false;
}

$(function(){
  adjusttime();

  $thumbnails = $('#id_thumbnails');

  $thumbnails.imagesLoaded(function(){
    $thumbnails.masonry({
      itemSelector: '.box'
    });
  });

  $thumbnails.infinitescroll({
    navSelector: '#page-nav',
    nextSelector: '#page-nav a',
    itemSelector: '.box',
    bufferPx: 1500,
    loading: {
      img: '{{ STATIC_URL }}img/loading.gif',
      msgText: '読込中... Loading...',
    }},
    function(newElements) {
      var $newElems = $(newElements).css({ opacity: 0 });
      $newElems.imagesLoaded(function() {
        $newElems.css({ opacity: 1 });
        $thumbnails.masonry('appended', $newElems, false, function(){
          $('infscr-loading').hide();
          adjusttime();
        });
      });
    }
  );
});

function adjusttime() {
  $('.datetime').each(function(idx,obj){
    var mydate = new Date($(obj).attr('alt'));
    if(mydate != null) {
      $(obj).html(format(mydate));
    }
  });
}

function format(datetime) {
  var y = datetime.getFullYear();
  var m = addzero(datetime.getMonth() + 1);
  var d = addzero(datetime.getDate());
  var time = datetime.toLocaleTimeString();
  return y + '/' + m + '/' + d + ' ' + time;
}

function addzero(arg) {
  if (arg < 10) {
    arg = '0' + arg;
  }
  return arg;
}
</script>
</body>
</html>
