<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SAKURA PHOTOS</title>
<link href="{{ STATIC_URL }}img/sakura_logo.ico" rel="shortcut icon">
{% load compressed %}
{% compressed_css 'application' %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21857766-3']);
  _gaq.push(['_setDomainName', 'playshiritori.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        SAKURA #桜2013 PHOTOS
      </a>
      <span class="pull-right twbutton">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="keiko713" data-count="none" data-hashtags="桜2013">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
      <span class="pull-right twbutton">
<a href="https://twitter.com/intent/tweet?button_hashtag=%E6%A1%9C2013" class="twitter-hashtag-button">Tweet #%E6%A1%9C2013</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>
    </div>
  </div>
</div><!-- /navbar -->
<div class="container">
<ul class="thumbnails" id="id_thumbnails">
{% for photo in photos %}
  <li class="span4 box">
    <div class="thumbnail">
    <a href="{{ photo.url }}">
      <img src="{{ photo.imgsrc }}">
    </a>
    <div class="caption">
    <p class="photo-date">
      <small><span class="datetime" alt="{{ photo.date }}"></span> by <a href="https://twitter.com/intent/user?screen_name={{ photo.username }}">{{ photo.username }}</a></small>
    </p>
    {% autoescape off %}
    <p>{{ photo.text }}</p>
    {% endautoescape %}
    {% if photo.geo %}
    <p>
      <a href="#" onclick="return viewmap('mapcanvas1_{{ forloop.counter }}', {{ photo.geo.coordinates.0 }}, {{ photo.geo.coordinates.1 }});"><i class="icon-screenshot"></i> from {{ photo.geo.addr }}</a>
    </p>
    <div class="mapcanvas" id="mapcanvas1_{{ forloop.counter }}" style="display: none;">
    </div>
    {% endif %}
    </div>
    </div>
  </li>
{% endfor %}
</ul>
<div id="page-nav">
<a href="/page/2/"></a>
</div>
<footer class="footer">
  <p class="pull-right">Created by <a href="https://twitter.com/intent/user?screen_name=keiko713">@keiko713</a> / <a href="https://github.com/keiko713/sakura">Fork me on GitHub</a></p>
</footer>
</div><!-- /container -->
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  var STATIC_URL = "{{STATIC_URL}}";
</script>
{% compressed_js 'application' %}
</body>
</html>
